# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
ENV/
env/

# Banco de dados (Não queremos enviar o banco local para o GitHub)
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Variáveis de ambiente (Chaves de API)
.env
